.delay {
    display: flex;
    flex-direction: column;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 16px;
}
.input-delay {
    width: 360px;
    height: 40px;
    border-radius: 4px;
stroke-width: 1px;
stroke: #808080;

}
.input-delay:hover {
    border-color: #2E2F42;
}
fieldset {
    width: 360px;
height: 60px;
border-radius: 4px;
stroke-width: 1px;
stroke: #808080;
font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

.radio-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

button {
    margin-top: 24px;
    border: none;
    border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}